body {
    margin: 0;
    padding: 0;
    background: #111111;
    font-family: sans-serif;
    color: #ffffff;
  }
  
  #header {
    width: 100%;
    height: 60px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    position: fixed;
  }
  
  #header-img {
    width: 150;
    height: 100;
    margin-top: -20px;
    margin-left: 10px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    font-size: 1.25rem;
  }
  
  .nav-link:hover {
    background-color: #a0e40d;
    color: #333333;
  }
  
  .nav-link {
    text-decoration: none;
    color: #a0e04d;
    padding: 10px 15px;
    margin-right: 30px;
  }
  
  #trailer {
    padding-top: 90px;
    display: flex;
    justify-content: center;
  }
  
  #video {
    height: 315;
    width: 560;
  }
  
  #features {
    padding: 30px 10%;
    scroll-margin-top: 40px;
    text-align: center;
  }
  
  #features h2 {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    color: #a0e04d
  }
  
  #features p {
    margin: 0;
    padding: 0
  }
  
  #feature-one, #feature-two {
    margin-bottom: 30px;
  }
  
  #buy-now {
    padding: 30px 10%;
    display: flex;
    justify-content: center;
    scroll-margin-top: 40px;
  }
  
  #standard-edition {
    background-color: #222222;
    margin: 5px;
    border: 1px solid #a0e04d
  }
  
  #vault-edition {
    background-color: #222222;
    margin: 5px;
    border: 1px solid #a0e04d
  }
  
  #standard-edition p, #vault-edition p {
    text-align: center;
  }
  
  #standard-edition p:first-of-type, #vault-edition p:first-of-type {
    margin: 0;
    padding: 10px 0;
    background-color: #a0e04d;
    color: black;
  }
  
  #standard-edition ul, #vault-edition ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  #standard-edition li, #vault-edition li {
    padding: 15px 0;
  }
  
  #standard-edition li {
    height: 18.5px;
  }
  
  #standard-edition li:first-of-type {
    border-top: 1px solid #a0e04d;
    border-bottom: 1px solid #a0e04d;
  }
  
  #standard-edition li:last-of-type {
    border-top: 1px solid #a0e04d;
  }
  
  #vault-edition li {
    border-top: 1px solid #a0e04d;
  }
  
  #standard-edition li:last-of-type, #vault-edition li:last-of-type {
    padding-bottom: 0;
  }
  
  #buy-now button {
    padding: 10px 55px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #222222;
    background-color: #a0e04d;
    text-shadow: 0px 0px 1px #000000;
    box-shadow: 0px 0px 15px #000000 inset; 
    border: 1px solid #111111;
  }
  
  #buy-now button:hover {
    background-color: #39700b;
    color: #eeeeee;
  }
  
  #newsletter {
    text-align: center;
    background-color: #222222;
    margin-bottom: 30px;
    padding: 3px 0;
  }
  
  #newsletter h1 {
    color: #a0e04d;
  }
  
  #email {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 250px;
    height: 30px;
  }
  
  #submit {
    width: 100px;
    height: 25px;
    background-color: #a0e40d;
    border: none;
    border-radius: 3px;
    color: #222222;
  }
  
  #submit:hover {
    background-color: #39700b;
    color: #eeeeee;
  }
  
  @media only screen and (max-width: 530px) {
  
    #header-img{
      display: none;
    }
  
    #buy-now {
      flex-wrap: wrap;
    }
  
    #standard-edition {
      margin-bottom: 50px;
    }
  
    #standard-edition li:last-of-type{
      height: 55px;
    }
  }